<div class="login-box">
  <div class="controls">
    <form
      name="loginForm"
      #loginTDForm="ngForm"
      (ngSubmit)="login(loginTDForm)"
    >
      <h2 class="ht-login-title">Login</h2>
      <div class="form-group">
        <label> Username</label>
        <input
          type="text"
          name="txtUserName"
          class="form-control"
          ngModel
          minlength="4"
        />

        <div class="text-danger">
          <p
            *ngIf="
              loginTDForm.submitted &&
              loginTDForm.controls['txtUserName'].touched &&
              loginTDForm.controls['txtUserName'].dirty
            "
          >
            Username must be greater than or equal to 4.. !
          </p>
        </div>
      </div>

      <div class="form-group">
        <label> Password</label>
        <input
          type="password"
          name="txtPassword"
          class="form-control"
          ngModel
        />
      </div>

      <div class="form-group">
        <button class="btn btn-success m-2">
          Login
        </button>
        <button type="button" class="btn btn-info m-2">Signup</button>
      </div>
    </form>
  </div>
</div>
<!--
<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users; odd as oddIndex"
        [ngStyle]="{ 'background-color': oddIndex ? 'grey' : 'aqua' }"
        [ngClass]="{ test: oddIndex }"
      >
        <td>{{ user.name }}</td>
        <td>{{ user.desc }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
