<ht-header [id]="myId" (onFeatureChange)="changeFeature($event)"></ht-header>

<!-- <div class="menu">
  <button class="btn btn-info m-2" (click)="changeFeature('login')">
    Login
  </button>

  <button class="btn btn-info m-2" (click)="changeFeature('products')">
    Products
  </button>

  <button class="btn btn-info m-2" (click)="changeFeature('users')">
    Users
  </button>
</div> -->
<div class="container" [id]="'testDiv'" #testDiv>
  <!-- <h1>{{ title }}</h1> -->
  <!-- <div class="m-2">
    <button
      type="button"
      class="btn btn-success"
      (click)="showTest = !showTest"
    >
      Toggle Test
    </button>
  </div>

  <ht-test *ngIf="showTest"></ht-test> -->

  <ht-login *ngIf="feature == 'login'"></ht-login>

  <ht-products
    *ngIf="feature == 'products'"
    (callParentEvent)="onChildEmit($event)"
  ></ht-products>
  <!-- Products Component => products
    (click)="onChildEmit($event)"
  -->

  <ht-users *ngIf="feature == 'users'"></ht-users>
</div>
<ht-footer></ht-footer>
