<div class="container">
  <h1>{{ title }}</h1>
  <div class="m-2">
    <button
      type="button"
      class="btn btn-success"
      (click)="showTest = !showTest"
    >
      Toggle Test
    </button>
  </div>

  <ht-test *ngIf="showTest"></ht-test>

  <ht-login></ht-login>

  <ht-header [id]="myId"></ht-header>

  <ht-products
    [products]="appProducts"
    (callParentEvent)="onChildEmit($event)"
  ></ht-products>
  <!-- Products Component => products
    (click)="onChildEmit($event)"
  -->

  <ht-users></ht-users>

  <ht-footer></ht-footer>
</div>
